html[system-icons][dark], html[system-icons] [dark] {
    --yt-spec-icon-inactive: #fff;
    --yt-spec-icon-disabled: #717171;
    --yt-spec-brand-icon-inactive: #fff;
    background-color: rgb(0 0 0 / 65%) !important;
    backdrop-filter: blur(17px) !important;
}
ytd-app[darker-dark-theme] #guide-content.ytd-app {
    background: rgba(0,0,0,45%) !important;
    backdrop-filter: blur(17px) !important;
}
ytd-app[darker-dark-theme] {
    --app-drawer-content-container-background-color: rgba(255, 255, 255, 0) !important;
}
#container.ytd-searchbox {
    background-color: rgb(0 0 0 / 41%) !important;
}
ytd-searchbox[desktop-searchbar-style=rounded_corner_borders_light_btn] #search-icon-legacy.ytd-searchbox {
    background-color: rgb(0 0 0 / 41%) !important;
}
html[dark], [dark] {
    --yt-spec-general-background-a: #00000041 !important;
    --yt-spec-menu-background: rgba(0,0,0, 0.65) !important;
}
ytd-feed-filter-chip-bar-renderer[darker-dark-theme] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    backdrop-filter: blur(17px) !important;
    background-color: rgba(0,0,0,65%) !important;
    border-top: 1px solid rgb(255 255 255 / 12%) !important;
    border-bottom: 1px solid rgb(255 255 255 / 12%) !important;
}
ytd-multi-page-menu-renderer {
    background: rgba(0,0,0,0) !important;
}
ytd-multi-page-menu-renderer[darker-dark-theme] {
    background: rgba(0 0 0 / 65%) !important;
    backdrop-filter: blur(20px) !important;
}
ytd-simple-menu-header-renderer[darker-dark-theme] {
    background-color: rgba(0,0,0,0) !important;
}
ytd-simple-menu-header-renderer {
    background-color: rgba(114, 114, 114, 0) !important;
}
ytd-searchbox[has-focus] #container.ytd-searchbox {
    border: 1px solid rgb(94, 94, 94) !important;
}
.iv-drawer {
    background-color: rgba(0,0,0 65%);
    backdrop-filter: blur(20px);
}
.ytp-popup {
    background: rgba(50, 50, 50, 0.65) !important;
    backdrop-filter: blur(20px) !important;
}
html[system-icons][dark] {
    background-color: rgba(50,50,50, 0.65) !important;
}
ytd-menu-popup-renderer[sheets-refresh] tp-yt-paper-listbox.ytd-menu-popup-renderer {
    background: rgba(50,50,50, 0%) !important;
    backdrop-filter: blur(20px) !important;
}
.sbsb_a {
    background: rgba(50,50,50, 0.65) !important;
    backdrop-filter: blur(20px) !important;
}
.sbdd_b {
    background: rgba(0,0,0,0) !important;
    border: 1px solid #ccc0 !important;
}
.sbsb_c:hover{
    background-color: rgba(100,100,100, 0.3) !important;
}
.sbfl_b {
    background: rgba(0,0,0,0) !important;
}
.sbpqs_a {
    color: var(--yt-spec-text-primary) !important;
}
.sbpqs_a::before{
    color: rgb(255,255,255) !important;
}
.sbqs_c {
    color: var(--yt-spec-text-primary);
}
#contentWrapper.tp-yt-iron-dropdown > * {
    background-color: rgba(50, 50, 50, 65%) !important;
}
tp-yt-paper-dialog[modern] {
    background: rgba(50,50,50, 65%) !important;
    backdrop-filter: blur(20px) !important;
}
yt-confirm-dialog-renderer[dialog][dialog][dialog] {
    background-color: rgba(50,50,50, 65%) !important;
    backdrop-filter: blur(20px) m !important;
}
yt-report-form-modal-renderer[dialog][dialog][dialog] {
    background-color: rgba(50,50,50, 65%) !important;
}